<div class="footer wow fadeIn   myfooter" data-wow-delay="0.3s">
    <div class="container-fluid">
        <div class="container">
            <div class="footer-info">
                <h2>Abdullah Al Mamun</h2>
                <h3>Debidwar , Comilla , Bangladesh</h3>
                <div class="footer-menu">
                    <p>+8801631205271</p>
                    <p>abdullahalmamun1804064@gmail.com</p>
                </div>
                <div class="footer-social ">
                    <!-- <a href=""><i class="fab fa-twitter"></i></a> 
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                     -->
                    <a href="https://www.facebook.com/profile.php?id=100012136626383"><i class="fab fa-facebook-f"></i></a>
              
                    <a href="https://www.linkedin.com/in/abdullah-al-mamun-10b1601b3/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved | Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
        </div>
    </div>
</div>