
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">DevFolio</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="{% url 'home' %}" class="nav-item nav-link ">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'service' %}" class="nav-item nav-link">Service</a>
                <a href="{% url 'experience' %}" class="nav-item nav-link">Experience</a>
                <a href="{% url 'portfolio' %}" class="nav-item nav-link">Portfolio</a>
                <a href="{% url 'price' %}" class="nav-item nav-link">Price</a>
                <a href="{% url 'review' %}" class="nav-item nav-link">Review</a>
                <a href="{% url 'blog' %}" class="nav-item nav-link">Blog</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </div>
</div>